# URL бэкенд API (для Axios)
VITE_API_URL=http://localhost

# URL для WebSocket (Laravel Reverb) — добавляется на этапе 4
VITE_REVERB_APP_KEY=
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http
